html, body {
  height: 100%;
  background-color: rgb(235, 232, 232);
}

.container {
  display: flex;
  height: 100%;
}

.editor {
  flex: 1;
  margin: 1em;
}

.editor textarea {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #222;
}

.output {
  flex: 1;
  height: 100%;
}
